
name:
<input type="text" [(ngModel)]="patientObj.name"><br>
{{patientObj.name}}<br>
code:
<input type="text" [(ngModel)]="patientObj.code"><br>
{{patientObj.code}}<br>
age:
<input type="number" [(ngModel)]="patientObj.age"><br>
{{patientObj.age}}<br>
type:
<select [(ngModel)]="patientObj.type">
    <option value="Inpatient">Inpatient</option>
    <option value="Outpatient">Outpatient</option>
</select><br>
{{patientObj.type}}<br>
{{'Problem'}}:<br>
name:           description:<br>
<input type="text" [(ngModel)]="patientProblem.name">
{{patientProblem.name}}
<input type="text" [(ngModel)]="patientProblem.description">
{{patientProblem.description}}
<button (click)="clearProblem()">Clear Problem</button>
<button (click)="addProblem()">Add Problem</button>
<br>
<div *ngFor="let problem of patientObj.problem; let i = index">
    <input type="text" [(ngModel)]="problem.name">
    <input type="text" [(ngModel)]="problem.description">
    <button (click)="deleteProblem(i)">Delete Problem</button>
</div>
<button (click)="resetRecord()">Reset Record</button>
<button (click)="addRecord()">Add Record</button>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td,th {
        border:1px solid red;
    }
</style>
<table>
    <tr>
        <th rowspan="2">Name</th>
        <th rowspan="2">Code</th>
        <th rowspan="2">Age</th>
        <th rowspan="2">Type</th>
        <th colspan="2">Description</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr *ngFor="let patient of patientObjs">
        <td>{{patient.name}}</td>
        <td>{{patient.code}}</td>
        <td>{{patient.age}}</td>
        <td>{{patient.type}}</td>
        <td>
            <tr *ngFor="let problem of patient.problem">
                <td>{{problem.name}}</td>
            </tr>
        </td>
        <td>
            <tr *ngFor="let problem of patient.problem">
                <td>{{problem.description}}</td>
            </tr>
        </td>
    </tr>
</table>